<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Observability_WebAPI_Blazor.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <ErrorBoundary>
        <ChildContent>
            <Routes />
        </ChildContent>
        <ErrorContent>
            <p>Exception occured on the server side</p>
            @if (context.InnerException is not null)
            {
                @* Here we are interested in exceptions that are re-thrown from catch block *@
                @* Exception message contains the class and method names where exception occured *@
                <p>Exception message: @context.Message</p>
                @* Inner exception message contains message of the exception that breaked application *@
                <p>Inner exception message: @context.InnerException.Message</p>
            }
            else
            {
                <p>Exception message: @context.Message</p>
            }
        </ErrorContent>
    </ErrorBoundary>

    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
